*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.wrapper {
  max-width: 960px;
  margin: 100px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #2dc99b;
  padding: 30px;
}

body {
  background-color: #333;
  color: $light;
}
