.convertor {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;

  &__value {
    font-size: 1.8rem;
    width: 150px;
  }

  &__symbol {
    width: 150px;
    font-size: 1.8rem;
    margin-left: 20px;
  }

  &__btn {
    padding: 5px 15px;
    font-size: 1.8rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 3px;
    margin-left: 20px;
  }

  &__result {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
  }
}
