*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2dc99b;
}

body {
  background-color: #333;
  color: #fff;
}

@media (min-width: 400px) {
  .wrapper {
    justify-content: flex-start;
  }
}
@media (min-width: 992px) {
  .wrapper {
    justify-content: center;
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.header__heading {
  margin: 15px 0;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.header__logo {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.gif {
  display: none;
  width: 100%;
  margin: 0 auto 10px;
}
.gif div {
  position: relative;
  padding-top: 15%;
}
.gif div iframe {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
}

.show {
  display: block;
}

@media (min-width: 400px) {
  .header {
    justify-content: flex-start;
  }
  .header__heading {
    margin: 60px;
  }
  .header__logo {
    margin-bottom: 70px;
  }

  .gif {
    margin: 0 auto 30px;
  }
}
@media (min-width: 768px) {
  .header__heading {
    margin: 50px 0;
    font-size: 4rem;
  }
  .header__logo {
    margin-bottom: 80px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 992px) {
  .header {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
  .header__logo {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 50%;
  }
}
.form {
  margin-bottom: 25px;
}
.form__border {
  border: 2px solid brown;
  padding: 20px;
}
.form__description {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.convertor {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.convertor__value {
  padding: 5px;
  font-size: 1.8rem;
  width: 150px;
}
.convertor__symbol {
  width: 150px;
  padding: 5px;
  font-size: 1.8rem;
  margin: 20px 0;
}
.convertor__btn {
  padding: 5px 40px;
  font-size: 1.8rem;
  letter-spacing: 1px;
  border: none;
  border-radius: 3px;
}
.convertor__result {
  margin-top: 20px;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: beige;
  text-shadow: 2px 2px 2px black;
}

@media (min-width: 768px) {
  .form__description {
    font-size: 3rem;
  }

  .convertor__value {
    padding: 5px;
    font-size: 2rem;
    width: 180px;
  }
  .convertor__symbol {
    width: 180px;
    padding: 5px;
    font-size: 2rem;
  }
  .convertor__btn {
    padding: 10px 50px;
    font-size: 2rem;
  }
  .convertor__result {
    margin-top: 30px;
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .form {
    width: 75%;
  }
  .form__description {
    font-size: 3rem;
  }

  .convertor {
    flex-direction: row;
    align-items: baseline;
  }
  .convertor__value {
    padding: 5px;
    font-size: 2rem;
    width: 150px;
  }
  .convertor__symbol {
    width: 150px;
    padding: 5px;
    font-size: 2rem;
    margin: 0 10px;
  }
  .convertor__btn {
    padding: 6px 30px;
    font-size: 2rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
  }
  .convertor__result {
    margin-left: 10px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: beige;
    text-shadow: 2px 2px 2px black;
  }
}

/*# sourceMappingURL=main.css.map */
